
@{
    ViewBag.Title = "提醒事项";
}
<style>
    .es-menu-extend table, .es-dialog table {
        line-height: 36px !important;
    }

    td:first-child {
        width:80px;
    }
</style>
<script src="~/Scripts/jquery-ui-1.10.2.custom.min.js"></script>
<script src="~/Scripts/fullcalendar.min.js"></script>

<div class="es-block-menu">
    <div class="es-dialog" style="width: 320px; left: 500px">
        <h2>编辑提醒</h2>
        @using (Html.BeginForm("Edit", "Alarm", null, FormMethod.Post, new { id = "frmEditAlarm" }))
        {
            @Html.AntiForgerySID()
            <input id="CurrentID" type="hidden" name="id" />
            <table>
                <tr>
                    <td>标题</td>
                    <td><input id="txtTitle" type="text" class="textbox" name="Title" /></td>
                </tr>
                <tr>
                    <td>开始时间</td>
                    <td><input id="txtBegin" type="text" name="Begin" class="textbox" /></td>
                </tr>
                <tr>
                    <td>结束时间</td>
                    <td><input id="txtEnd" type="text" name="End" class="textbox" /></td>
                </tr>
                <tr>
                    <td>提醒</td>
                    <td>
                        <select class="select" name="Remind" id="lstRemind">
                            <option>不提醒</option>
                            <option value="10">10分钟</option>
                            <option value="30">30分钟</option>
                            <option value="60">60分钟</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>内容</td>
                    <td>
                        <textarea class="textbox" name="Hint" id="txtHint"></textarea>
                    </td>
                </tr>
            </table>
            <p style="text-align:center"><a href="javascript:void(0);" id="btnEditAlarm">修改提醒</a> <a id="btnDeleteAlarm">删除提醒</a></p>
        }
    </div>
    <a href="#" data-toggle="AddAlarm">添加事项</a>
    <div class="es-menu-extend" id="AddAlarm">
        @using (Html.BeginForm("Create", "Alarm", null, FormMethod.Post, new { id = "frmCreateAlarm" }))
        {
            @Html.AntiForgerySID()
            <table>
                <tr>
                    <td>标题</td>
                    <td><input type="text" class="textbox" name="Title" /></td>
                </tr>
                <tr>
                    <td>开始时间</td>
                    <td><input type="text" name="Begin" class="textbox" /></td>
                </tr>
                <tr>
                    <td>结束时间</td>
                    <td><input type="text" name="End" class="textbox" /></td>
                </tr>
                <tr>
                    <td>提醒</td>
                    <td>
                        <select class="select" name="Remind">
                            <option>不提醒</option>
                            <option value="10">10分钟</option>
                            <option value="30">30分钟</option>
                            <option value="60">60分钟</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>内容</td>
                    <td>
                        <textarea class="textbox" name="Hint"></textarea>
                    </td>
                </tr>
            </table>
        }
        <p style="text-align:center"><a href="javascript:void(0);" id="btnAddAlarm">添加提醒</a> <a href="javascript:CloseToggle();">关闭</a></p>
    </div>
</div>

<div class="es-block">
    <div id='calendar'></div>
</div>

<script>
    var alm;
    $("input[name='Begin']").datetimepicker();
    $("input[name='End']").datetimepicker();
    $.getJSON("/Alarm/Load", {}, function (alarms) {
        for (var i = 0; i < alarms.length; i++)
        {
            alarms[i].start = new Date(parseInt(alarms[i].start + "000"));
            alarms[i].end = new Date(parseInt(alarms[i].end + "000"));
        }
        alm = alarms;
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            firstDay: 1,
            editable: false,
            disableDragging: true,
            timeFormat: 'H:mm',
            axisFormat: 'H:mm',
            events: alarms
        });
    });
    $("#btnAddAlarm").click(function () {
        ShowLoading();
        $("#frmCreateAlarm").submit();
    });

    function EditAlarm(id)
    {
        ShowLoading();
        $.getJSON("/Alarm/Detail/" + id, {}, function (alarm) {
            $("#txtTitle").val(alarm.Title);
            $("#txtBegin").val(alarm.Begin);
            $("#txtEnd").val(alarm.End);
            $("#lstRemind").val(alarm.Remind);
            $("#lstHint").val(alarm.Hint);
            $("#CurrentID").val(id);
            $("#btnDeleteAlarm").attr("href", "/Alarm/Delete/" + id + "?sid=@ViewBag.SID");
            $(".es-dialog").addClass("show");
            HideLoading();
        });
    }

    $("#btnEditAlarm").click(function () {
        ShowLoading();
        $("#frmEditAlarm").submit();
    });
</script>