
@{
    ViewBag.Title = "Index";
}

<div class="es-block-menu">

    <a href="#" data-toggle="ExportMenu">导出</a>
    <div class="es-menu-extend" id="ExportMenu">
        test
    </div>
    <a href="#">添加</a>
</div>

<div class="es-block">
    <h2>Index</h2>
</div>