
@{
    ViewBag.Title = "项目管理";
}
<style>
    .es-table-outer tr {
        cursor: pointer;
    }
    table {
        line-height: 36px;
    }
</style>
<div class="es-block-menu">
    @if (ViewBag.CurrentUser.Role != UserRole.Finance)
    {
        <a href="#" data-toggle="AddProject">添加项目</a>
        <div id="AddProject" class="es-menu-extend">
            <table style="width:600px">
                <tr>
                    <td>项目名称</td>
                    <td><input id="txtNewTitle" type="text" class="textbox" placeholder="项目名称" /></td>
                    <td>项目状态</td>
                    <td>
                        <select id="lstNewStatus" class="select span-width">
                            <option value="0">当前</option>
                            <option value="1">完成</option>
                            <option value="2">竞标</option>
                            <option value="3">废弃</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>说明</td>
                    <td colspan="3"><input id="txtDescription" type="text" class="textbox full-width nullable" placeholder="项目说明" /></td>
                </tr>
                <tr>
                    <td>计划开始时间</td>
                    <td><input id="txtPlanBegin" type="text" class="textbox" placeholder="计划开始时间" /></td>
                    <td>计划结束时间</td>
                    <td><input id="txtPlanEnd" type="text" class="textbox full-width" placeholder="计划结束时间" /></td>
                </tr>
                <tr>
                    <td>优先级</td>
                    <td>
                        <select id="lstPriority" class="select span-width">
                            <option value="0">正常</option>
                            <option value="1">中等</option>
                            <option value="2">高</option>
                        </select>
                    </td>
                </tr>
            </table>
            <p style="text-align:center"><a href="javascript:void(0);" id="btnAddProject">下一步</a> <a href="javascript:CloseToggle();">关闭</a></p>
        </div>
    }
    <a href="#" data-toggle="ProjectsFilter">过滤器</a>
    <div id="ProjectsFilter" class="es-menu-extend">
        <p>项目名称：<input id="txtTitle" type="text" class="textbox" placeholder="项目名称" />&nbsp;&nbsp; 项目状态：<select id="lstStatus" class="select" style="width: 130px"><option value="">全部</option><option value="0">当前</option><option value="1">完成</option><option value="2">竞标</option><option value="3">废弃</option></select></p>
        <p>签订时间：从 <input id="txtBegin" type="text" class="textbox" value="" /> 到 <input id="txtEnd" type="text" class="textbox" value="" /></p>
        <p>开票时间：从 <input id="txtInvoiceBegin" type="text" class="textbox" value="" /> 到 <input id="txtInvoiceEnd" type="text" class="textbox" value="" /></p>
        <p>
            企业名称：
            <select class="select" id="lstEnterpriseID">
                <option>不限制</option>
                @foreach (EnterpriseModel e in ViewBag.Enterprises)
                {
                    <option value="@e.ID">@e.Title</option>
                }
            </select>
        </p>
        <p><a href="javascript:page=0;$('#lstProjects').html('');Load();CloseToggle();">检索</a><a href="javascript:CloseToggle();">关闭</a></p>
    </div>
    <a href="#" data-toggle="ProjectsExport">导出</a>
    <div id="ProjectsExport" class="es-menu-extend">
        @using (Html.BeginForm("Export", "Project", FormMethod.Post))
        {
            @Html.AntiForgerySID()
            <h3>导出项目</h3>
            <p>
                签订时间：
                <input id="txtExportBegin" name="begin" type="text" class="textbox nullable" value="" /> 到
                <input id="txtExportEnd" name="end" type="text" class="textbox nullable" value="" />
            </p>
            <p>
                <button class="button button-def" name="type" value="Excel">导出Excel</button>
                <button class="button button-def" name="type" value="PDF">导出PDF</button>
            </p>
        }
        @if (ViewBag.CurrentUser.Role >= UserRole.Finance)
        {
            using (Html.BeginForm("ExportBill", "Project", FormMethod.Post))
            {
                <h3>导出支出</h3>
                <p>
                    支出时间：
                    <input name="begin" type="text" class="textbox nullable" value="" /> 到
                    <input name="end" type="text" class="textbox nullable" value="" />
                </p>
                <p>
                    <button class="button button-def" name="type" value="Excel">导出Excel</button>
                    <button class="button button-def" name="type" value="PDF">导出PDF</button>
                </p>
            }
        }
        <p><a href="javascript:CloseToggle();">关闭</a></p>
    </div>
</div>
<div class="es-table-outer">
    <table class="table">
        <thead>
            <tr>
                <th data-col="ID">ID</th>
                <th data-col="UserID">所有者 </th>
                <th data-col="Title">项目名称 </th>
                <th data-col="Charge">项目金额 </th>
                <th data-col="SignTime">签订日期 </th>
                <th data-col="ProductID">产品类型 </th>
                <th data-col="EnterpriseID">客户 </th>
                <th data-col="Enterprise.Brand">品牌 </th>
                <th data-col="CustomerID">联系人 </th>
                <th data-col="Status">状态 </th>
                <th data-col="InvoiceTime">开票日期 </th>
                <th data-col="ChargeTime">收款日期 </th>
            </tr>
        </thead>
        <tbody id="lstProjects">
        </tbody>
    </table>
</div>
<script>
    $("[name='begin']").datetimepicker();
    $("[name='end']").datetimepicker();
    $("#txtBegin").datetimepicker();
    $("#txtEnd").datetimepicker();
    $("#txtPlanBegin").datetimepicker();
    $("#txtPlanEnd").datetimepicker();
    $("#btnAddProject").click(function () {
        if ($("#txtNewTitle").val() == "") {
            alert("项目标题不能为空！");
            return;
        }
        if ($("#txtDescription").val() == "") {
            alert("项目说明不能为空！");
            return;
        }
        if ($("#txtPlanBegin").val() == "") {
            alert("项目开始时间不能为空！");
            return;
        }
        if ($("#txtPlanEnd").val() == "") {
            alert("项目结束时间不能为空！");
            return;
        }
        ShowLoading();
        $.post("/Project/Create",
            {
                Title: $("#txtNewTitle").val(),
                Status: $("#lstNewStatus").val(),
                Description: $("#txtDescription").val(),
                Begin: $("#txtPlanBegin").val(),
                End: $("#txtPlanEnd").val(),
                Priority: $("#lstPriority").val(),
                sid: "@ViewBag.SID"
            }, function (id) {
                window.location = "/Project/Show/" + id;
            });
    });
</script>