
@{
    ViewBag.Title = "项目管理";
}

<div class="es-block-menu">
    @if (ViewBag.CurrentUser.Role != UserRole.Finance)
    {
        <a href="#" data-toggle="AddProject">添加项目</a>
        <div id="AddProject" class="es-menu-extend">

        </div>
    }
    <a href="#" data-toggle="ProjectsFilter">过滤器</a>
    <div id="ProjectsFilter" class="es-menu-extend">
        <p>项目名称：<input type="text" class="textbox" placeholder="项目名称" />&nbsp;&nbsp; 项目状态：<select class="select" style="width: 130px"><option value="">全部</option><option value="0">当前</option><option value="1">完成</option><option value="2">竞标</option><option value="3">废弃</option></select></p>
        <p>签订时间：从 <input type="text" class="textbox" value="@DateTime.Now" /> 到 <input type="text" class="textbox" value="@DateTime.Now" /></p>
        <p><a href="#">检索</a></p>
    </div>
</div>
<div class="es-table-outer">
    <table class="table">
        <thead>
            <tr>
                <th data-col="ID">ID</th>
                <th data-col="UserID">所有者 </th>
                <th data-col="Title">项目名称 </th>
                <th data-col="Charge">项目金额 </th>
                <th data-col="SignTime">签订日期 </th>
                <th data-col="ProductID">产品类型 </th>
                <th data-col="EnterpriseID">客户 </th>
                <th data-col="Enterprise.Brand">品牌 </th>
                <th data-col="CustomerID">联系人 </th>
                <th data-col="Status">状态 </th>
                <th data-col="InvoiceTime">开票日期 </th>
                <th data-col="ChargeTime">收款日期 </th>
            </tr>
        </thead>
        <tbody id="lstProjects">
            <tr>
                <td>1</td>
                <td>Yuuko</td>
                <td>EasySense</td>
                <td>5,000</td>
                <td>2015年1月1日</td>
                <td>软件服务外包</td>
                <td>某某</td>
                <td>EasySense</td>
                <td>某某</td>
                <td>进行中</td>
                <td>2015年1月1日</td>
                <td>2015年1月1日</td>
            </tr>
        </tbody>
    </table>
</div>