@model StatisticsModel
@{
    ViewBag.Title = "查看报表";
}

<div class="es-block-menu">
    <a href="/Statistics/Show/@Model.ID" class="es-block-menu-active">报表预览</a>
    <a href="#" data-toggle="ExportMenu">导出报表</a>
    <div class="es-menu-extend" id="ExportMenu">
        <table>
            <tr>
                <td style="width:180px">
                    <p style="text-align:center"><img style="width:120px;height:120px;" src="~/Images/excel.png" /></p>
                    <p style="text-align:center"><a href="/Statistics/ExportExcel/@Model.ID" onclick="CloseToggle()">导出到Excel</a></p>
                </td>
                <td style="width:180px">
                    <p style="text-align:center"><img style="width:120px;height:120px;" src="~/Images/pdf.png" /></p>
                    <p style="text-align:center"><a href="/Statistics/ExportPDF/@Model.ID" onclick="CloseToggle()">导出到PDF</a></p>
                </td>
            </tr>
        </table>
    </div>
    <a href="/Statistics/Graphics/@Model.ID">簇状图</a>
</div>
<div class="es-table-outer">
    <h2 style="color:#fff">报表预览</h2>
    @MvcHtmlString.Create(Model.HtmlPreview)
</div>
