@model StatisticsModel
@{
    ViewBag.Title = "查看报表";
}

<div class="es-block-menu">
    <a href="#" data-toggle="ExportMenu">导出报表</a>
    <div class="es-menu-extend" id="ExportMenu">
        <table>
            <tr>
                <td style="width:180px">
                    <p style="text-align:center"><img style="width:120px;height:120px;" src="~/Images/excel.png" /></p>
                    <p style="text-align:center"><a href="/Statistics/ExportExcel/@Model.ID">导出到Excel</a></p>
                </td>
                <td style="width:180px">
                    <p style="text-align:center"><img style="width:120px;height:120px;" src="~/Images/pdf.png" /></p>
                    <p style="text-align:center"><a href="/Statistics/ExportPDF/@Model.ID">导出到PDF</a></p>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="es-table-outer">
    <h2 style="color:#fff">报表预览</h2>
    @MvcHtmlString.Create(Model.HtmlPreview)
</div>
<div class="es-block">
    <div id="EmployeeChart"></div>
    <div id="EnterpriseChart"></div>
</div>
<script>
    $.getJSON("/Statistics/EmployeeChart/@Model.ID", {}, function (src) {
        $("#EmployeeChart").jqChart({
            title: { text: '@Model.Title 员工簇状图' },
            axes: [
                {
                    location: 'left',
                    minimum: 0
                }
            ],
            series: src
        });
    });

    $.getJSON("/Statistics/EnterpriseChart/@Model.ID", {}, function (src) {
        $("#EnterpriseChart").jqChart({
            title: { text: '@Model.Title 企业簇状图' },
            axes: [
                {
                    location: 'left',
                    minimum: 0
                }
            ],
            series: src
        });
    });
</script>