@{
    Layout = null;
    ViewBag.Title = "登录 - Easy Sense 项目管理系统";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/Styles/es_login.css" />
</head>
<body>
    <div class="login-box">
        <p style="text-align: center"><img class="login-box-logo" src="/Images/logo.png" /></p>
        @using (Html.BeginForm("Login", "Shared", FormMethod.Post))
        {
            <p>用户名/电子邮箱</p>
            <p><input type="text" class="textbox login-field" name="Username" /></p>
            <p>密码</p>
            <p><input type="password" class="textbox login-field" name="Password" /></p>
            <br />
            <p>
                <input type="submit" class="button button-def" value="登录" />
                @Html.CheckBox("Remember") 记住我
                <a href="#" style="margin-left:20px;">忘记密码</a>
            </p>
        }
    </div>
    <p class="es-copyright">
        Copyright © 2015-2016 <a target="_blank" style="color:rgb(61, 65, 75);" href="http://www.codecomb.com">Code Comb</a> Co., Ltd. All rights reserved.
    </p>
</body>
</html>