@{
    Layout = null;
    ViewBag.Title = "提示信息 - Easy Sense 项目管理系统";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/Styles/es_login.css" />
</head>
<body>
    <div class="login-box">
        <h2>提示信息</h2>
        <p>@ViewBag.Message</p>
        <p><a href="javascript:history.go(-1);">返回上一操作页面</a></p>
        <p><a href="/">返回首页</a></p>
    </div>
    <p class="es-copyright"> Copyright © 2015 Code Comb Inc. All rights reserved.</p>
</body>
</html>