
@{
    ViewBag.Title = "客户管理";
}
<style>
    table {
        line-height: 36px;
    }
</style>
<div class="es-block-menu">
    <a href="#" data-toggle="AddEnterprise">添加客户</a>
    <div id="AddEnterprise" class="es-menu-extend">
        <table style="width:600px">
            <tr>
                <td>企业名称</td>
                <td><input id="txtTitle" type="text" class="textbox" placeholder="企业名称" /></td>
                <td>企业等级</td>
                <td>
                    <select id="lstLevel" class="select span-width">
                        <option value="0">A</option>
                        <option value="1">B</option>
                        <option value="2">C</option>
                        <option value="3">D</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>企业地址</td>
                <td colspan="3"><input id="txtAddress" type="text" class="textbox full-width" placeholder="企业通信地址" /></td>
            </tr>
            <tr>
                <td>邮政编码</td>
                <td><input id="txtZip" type="text" class="textbox" placeholder="邮政编码" /></td>
                <td>企业网址</td>
                <td><input id="txtWebsite" type="text" class="textbox full-width" placeholder="http://" /></td>
            </tr>
            <tr>
                <td>电话</td>
                <td><input id="txtPhone" type="text" class="textbox" placeholder="电话号码" /></td>
                <td>传真</td>
                <td><input id="txtFax" type="text" class="textbox full-width" placeholder="传真" /></td>
            </tr>
            <tr>
                <td>企业性质</td>
                <td><input id="txtProperty" type="text" class="textbox" placeholder="企业性质" /></td>
                <td>企业类型</td>
                <td><input id="txtType" type="text" class="textbox full-width" placeholder="企业类型" /></td>
            </tr>
            <tr>
                <td>企业规模</td>
                <td><input id="txtScale" type="text" class="textbox" placeholder="企业规模" /></td>
                <td>销售额</td>
                <td><input id="txtSalesVolume" type="text" class="textbox full-width" placeholder="销售额" /></td>
            </tr>
            <tr>
                <td>备注</td>
            </tr>
            <tr>
                <td colspan="4">
                    <textarea id="txtHint" class="textbox full-width" placeholder="请在此处填写备注"></textarea>
                </td>
            </tr>
        </table>
        <p style="text-align:center"><a href="javascript:void(0);" id="btnAddEnterprise">完成添加</a> <a href="javascript:CloseToggle();">关闭</a></p>
    </div>
    <a href="#" class="right es-block-menu-search-btn" id="btnEnterpriseSearch">搜索</a>
    <input type="text" class="right textbox es-block-menu-search" id="txtEnterpriseSearch"  placeholder="客户名称或首字母" />
</div>

<div>
    <div class="es-enterprise left orange">
        <div style="float:left;margin-top:100px;width:100%;"><table width="100%" border="0"><tbody><tr><td width="100%" align="center"><font size="30px;">A</font></td></tr></tbody></table></div>
        <div class="es-enterprise-content" style="float: left; width: 100%; margin-top: -155px; margin-left: -20px;" id="aenterprise">
</div>
    </div>
    <div class="es-enterprise right pink">
        <div style="float:left;margin-top:100px;width:100%;"><table width="100%" border="0"><tbody><tr><td width="100%" align="center"><font size="30px;">B</font></td></tr></tbody></table></div>
        <div class="es-enterprise-content" style="float: left; width: 100%; margin-top: -155px; margin-left: -20px;" id="benterprise">
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="es-enterprise left blue">
        <div style="float:left;margin-top:100px;width:100%;"><table width="100%" border="0"><tbody><tr><td width="100%" align="center"><font size="30px;">C</font></td></tr></tbody></table></div>
        <div class="es-enterprise-content" style="float: left; width: 100%; margin-top: -155px; margin-left: -20px;" id="centerprise">
        </div>
    </div>
    <div class="es-enterprise right green">
        <div style="float:left;margin-top:100px;width:100%;"><table width="100%" border="0"><tbody><tr><td width="100%" align="center"><font size="30px;">D</font></td></tr></tbody></table></div>
        <div class="es-enterprise-content" style="float: left; width: 100%; margin-top: -155px; margin-left: -20px;" id="denterprise">
        </div>
    </div>
</div>
<script>
    $("#btnAddEnterprise").click(function () {
        if ($("#txtTitle").val() == "")
        {
            alert("企业名称不能为空");
            return;
        }
        if ($("#txtAddress").val() == "") {
            alert("企业通信地址不能为空");
            return;
        }
        if ($("#txtZip").val() == "") {
            alert("企业邮政编码不能为空");
            return;
        }
        if ($("#txtWebsite").val() == "") {
            alert("企业网址不能为空");
            return;
        }
        if ($("#txtTel").val() == "") {
            alert("企业电话不能为空");
            return;
        }
        if ($("#txtFax").val() == "") {
            alert("企业传真不能为空");
            return;
        }
        if ($("#txtProperty").val() == "") {
            alert("企业性质不能为空");
            return;
        }
        if ($("#txtType").val() == "") {
            alert("企业类型不能为空");
            return;
        }
        if ($("#txtScale").val() == "") {
            alert("企业规模不能为空");
            return;
        }
        if ($("#txtSalesVolume").val() == "") {
            alert("企业销售额不能为空");
            return;
        }
        if ($("#txtBrand").val() == "") {
            alert("品牌不能为空");
            return;
        }
        if ($("#txtHint").val() == "") {
            alert("备注不能为空");
            return;
        }
        ShowLoading();
        $.post("/Enterprise/Create", {
            Title: $("#txtTitle").val(),
            Level: $("#lstLevel").val(),
            Address: $("#txtAddress").val(),
            Zip: $("#txtZip").val(),
            Website: $("#txtWebsite").val(),
            Phone: $("#txtPhone").val(),
            Fax: $("#txtFax").val(),
            Property: $("#txtProperty").val(),
            Type: $("#txtType").val(),
            Scale: $("#txtScale").val(),
            SalesVolume: $("#txtSalesVolume").val(),
            Hint: $("#txtHint").val(),
            sid: "@ViewBag.SID"
        }, function (id) {
            var html = '<div class="es-enterprise-item"><a href="/Enterprise/Show/'+id+'" class="title">?-'+$("#txtTitle").val()+'</a> <a href="javascript:Delete('+id+')">删除</a></div>';
            var level = $("#lstLevel").val();
            if(level == 0)
                $("#aenterprise").prepend(html);
            else if(level ==1)
                $("#benterprise").prepend(html);
            else if(level ==2)
                $("#centerprise").prepend(html);
            else
                $("#denterprise").prepend(html);
            $("#" + CurrentNotification).slideUp(200);
            $("a[data-toggle='" + CurrentNotification + "']").removeClass("es-block-menu-active");
            CurrentNotification = null;
            HideLoading();
        });
    });


    function Delete(id) {
        ShowLoading();
        $.get("/Enterprise/Delete/" + id, { sid: '@ViewBag.SID' }, function (content) {
            HideLoading();
            if ("cannot delete" == content) {
                alert('无法删除该客户。请确认其它地方是否关联了该客户信息。');
                return;
            }
            window.location = '/Enterprise/Index/?sid=@ViewBag.SID';
        });
    }
</script>