
@{
    ViewBag.Title = "客户管理";
}
<style>
    table {
        line-height: 36px;
    }
    .full-width {
        width: calc(100% - 20px);
        width: -webkit-calc(100% - 20px);
        width: -moz-calc(100% - 20px);
    }
    .span-width {
        width:100%;
    }
</style>
<div class="es-block-menu">
    <a href="#" data-toggle="AddEnterprise">添加客户</a>
    <div id="AddEnterprise" class="es-menu-extend">
        <table style="width:600px">
            <tr>
                <td>企业名称</td>
                <td><input type="text" class="textbox" placeholder="企业名称" /></td>
                <td>企业等级</td>
                <td>
                    <select class="select span-width">
                        <option value="0">A</option>
                        <option value="1">B</option>
                        <option value="2">C</option>
                        <option value="3">D</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>企业地址</td>
                <td colspan="3"><input type="text" class="textbox full-width" placeholder="企业通信地址" /></td>
            </tr>
            <tr>
                <td>邮政编码</td>
                <td><input type="text" class="textbox" placeholder="邮政编码" /></td>
                <td>企业网址</td>
                <td><input type="text" class="textbox full-width" placeholder="http://" /></td>
            </tr>
            <tr>
                <td>电话</td>
                <td><input type="text" class="textbox" placeholder="电话号码" /></td>
                <td>传真</td>
                <td><input type="text" class="textbox full-width" placeholder="传真" /></td>
            </tr>
            <tr>
                <td>企业性质</td>
                <td><input type="text" class="textbox" placeholder="企业性质" /></td>
                <td>企业类型</td>
                <td><input type="text" class="textbox full-width" placeholder="企业类型" /></td>
            </tr>
            <tr>
                <td>企业规模</td>
                <td><input type="text" class="textbox" placeholder="企业规模" /></td>
                <td>销售额</td>
                <td><input type="text" class="textbox full-width" placeholder="销售额" /></td>
            </tr>
            <tr>
                <td>备注</td>
            </tr>
            <tr>
                <td colspan="4">
                    <textarea class="textbox full-width" placeholder="请在此处填写备注"></textarea>
                </td>
            </tr>
        </table>
        <p style="text-align:center"><a href="#">完成添加</a></p>
    </div>
    <a href="#" class="right es-block-menu-search-btn" id="btnEnterpriseSearch">搜索</a>
    <input type="text" class="right textbox es-block-menu-search" id="txtEnterpriseSearch"  placeholder="客户名称或首字母" />
</div>

<div>
    <div class="es-enterprise left orange">
        <div class="es-enterprise-content" id="aenterprise">
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
        </div>
    </div>
    <div class="es-enterprise right pink">
        <div class="es-enterprise-content" id="benterprise">
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="es-enterprise left blue">
        <div class="es-enterprise-content" id="centerprise">
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
        </div>
    </div>
    <div class="es-enterprise right green">
        <div class="es-enterprise-content" id="denterprise">
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
            <div class="es-enterprise-item"><a href="#" class="title">Q-齐齐哈尔微尘物联</a> <a href="#">删除</a> <a href="#">编辑</a></div>
        </div>
    </div>
</div>
