
@{
    ViewBag.Title = "工作计划";
}

<div class="es-block-menu">
    @if (ViewBag.CurrentUser.Role == UserRole.Root)
    {
        <a href="/Report" class="es-block-menu-active">工作报告管理</a>
    }
    <a href="/Report/Day/@ViewBag.ID">日报</a>
    <a href="/Report/Day/@ViewBag.ID">周报</a>
    <a href="/Report/Day/@ViewBag.ID">月报</a>
    <a href="/Report/Day/@ViewBag.ID">填写报告</a>
</div>
