
@{
    ViewBag.Title = "月报";
}

<style>
    .table th, .table td {
        color: #333;
    }

    .table td {
        border-bottom: 1px solid #ccc;
    }

    .table tbody tr:hover {
        background-color: #ddd;
    }
</style>

<div class="es-block-menu">
    <a href="/Report/Day/@ViewBag.ID">日报</a>
    <a href="/Report/Week/@ViewBag.ID">周报</a>
    <a href="/Report/Month/@ViewBag.ID" class="es-block-menu-active">月报</a>
    <a href="/Report/New/@ViewBag.ID">填写报告</a>
</div>
<div class="es-block">
    <p>
        年份：
        <select id="lstYears" class="select">
            @for (var i = 1970; i < DateTime.Now.Year; i++)
            {
                <option value="@i">@i</option>
            }
            <option value="@DateTime.Now.Year" selected>@DateTime.Now.Year</option>
        </select>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>年份</th>
                <th>月份</th>
                <th style="width:50%">内容</th>
                <th>记录时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="lstReports">
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        function LoadReports() {
            ShowLoading();
            $("#lstReports").html('');
            var y = $("#lstYears").val();
            $.getJSON("/Report/GetReports/@ViewBag.ID",
                {
                    Type: "Month",
                    year: y
                }, function (data) {
                    var j = 0;
                    for (var i = 1; i <= 12; i++) {
                        if (j >= data.length || i != data[j].Month) {
                            $("#lstReports").append("<tr><td>" + y + "年</td><td>" + i + "月</td><td></td><td></td><td></td></tr>");
                        }
                        else {
                            $("#lstReports").append("<tr><td>" + y + "年</td><td>" + i + "月</td><td><p><a href='javascript:$(\"#todo-" + data[j].ID + "\").toggle()'>待办事项</a></p><div id='todo-" + data[j].ID + "' class='es-report'>" + data[j].TodoList + "</div><p><a href='javascript:$(\"#question-" + data[j].ID + "\").toggle()'>遇到问题</a></p><div id='question-" + data[j].ID + "' class='es-report'>" + data[j].QuestionList + "</div><p><a href='javascript:$(\"#finished-" + data[j].ID + "\").toggle()'>已办事项</a></p><div id='finished-" + data[j].ID + "' class='es-report'>" + data[j].FinishedList + "</div></td><td>" + data[j].Time + "</td><td><a href='/Report/Edit/" + data[j].ID + "'>编辑</a></td></tr>");
                            j++;
                        }
                    }
                    HideLoading();
                });
        }
        LoadReports();
        $("#lstYears").change(function () {
            LoadReports();
        });
    });
</script>